---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Heading from "~/components/Heading.astro";
import FormBook from "~/components/forms/FormBook.astro";
---

<Layout>
	<Section>
		<Heading>
			<h2 slot="heading-title" class="font-black text-brand-green h2">Request a quote</h2>
			<p slot="heading-content" class="text-pretty">
				Provide details about your material requirements, volume needs, and logistics preferences. Our team will respond with pricing and availability.
			</p>
		</Heading>

		<FormBook />
	</Section>
</Layout>
